@use 'variaveis';

.intro {
    padding: 5.6vw;
    
    h2 {
        text-align: center;
    }

    &__conteudo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 60px;

        &__text {
            padding: 0 2vw;

            h2 {
                margin-bottom: 24px;
                color: variaveis.$corTextoPrincipal;
            }

            p {
                margin: 20px 50px 0;
                letter-spacing: 1px;
                text-align: justify;

                &:last-child {
                    margin-top: 20px;
                }
            }
        }
    }
}