@use 'hero';
@use 'variaveis';
@use 'intro';
@use 'personagens';
@use 'frutas';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 32px) {
    @include text($fontSize);
    color: variaveis.$corTextoPrincipal;
}

.text--big {
    @include text(18px);
}

.text--small {
    @include text(12px);
}

.text {
    @include text;
}

.title--big {
    @include title(44px);
}

.title--small {
    @include title(22px);
}

.title {
    @include title;
}

.button {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 70px;
    font-size: 18px;
    color: variaveis.$corTextBtn;
    background-color: variaveis.$corBtnPrimary;
    border: 1px solid variaveis.$corBtnPrimary;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem 0.875rem;
    letter-spacing: 1px;
    list-style: none;

    a {
        color: variaveis.$corTextBtn;
        background-color: variaveis.$corBtnPrimary;
        border: 1px solid variaveis.$corBtnPrimary;
        text-decoration: none;
        gap: nowrap;
    }

    &:hover {
        background-color: variaveis.$corTextBtn;
        border: 1px solid variaveis.$corTextBtn;
        color: #000;

        a {
            background-color: variaveis.$corTextBtn;
            border: 1px solid variaveis.$corTextBtn;
            color: #000;
        }
    }
}

.footer {
    padding: 26px 8px;
    background-color: variaveis.$corTextBtn;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        p {
            a {
                color: variaveis.$corBtnPrimary;
                text-decoration: none;
            }
        }
    }
}